/RS_virt
/item_properties_part1.1.csv
/item_properties_part2.csv
/events.csv
/cleaned_events.csv
/cleaned_item_properties.csv
als_model.pkl
chunked_item_properties.csv 
merged_chunked_item_properties_events.csv
cleaned_event.csv
merged_events_item_properties_dask.csv
cleaned_merged_events_item_properties.csv
feature_engineered_dataset.csv
events_with_time_features.csv
events_with_user_features.csv
events_with_interaction_features.csv
merged_events_with_item_properties_00.csv
merged_events_with_item_properties_01.csv
merged_events_with_item_properties_02.csv
merged_events_with_item_properties_03.csv
merged_events_with_item_properties_04.csv
merged_events_with_item_properties_05.csv
merged_events_with_item_properties_06.csv
merged_events_with_item_properties_07.csv
merged_events_with_item_properties_08.csv
merged_events_with_item_properties_09.csv
merged_events_with_item_properties_10.csv
merged_events_with_item_properties_11.csv
merged_events_with_item_properties_12.csv
user_activity_with_anomalies.csv
user_activity.csv
cleaned_events_no_anomalies_0.csv
idx2item.pkl
item_factors.pkl
svd_model.pkl
user_factors.pkl
user2idx.pkl
item_content_features.csv
train_events_with_content.csv