/RS_virt
/item_properties_part1.1.csv
/item_properties_part2.csv
/events.csv
/cleaned_events.csv
/cleaned_item_properties.csv
als_model.pkl
chunked_item_properties.csv
merged_chunked_item_properties_events.csv
